In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics, linear_model

In [2]:
Ex1 = pd.read_csv('D:/Google Drive/Collaborations/Donna/Random_Forest_Yield_Predictor/dataclean1.csv')

In [3]:
Ex1.dropna(subset=['YIELD'],inplace=True)

In [4]:
print('The shape of the Example is :',Ex1.shape)

The shape of the Example is : (30, 24)

In [5]:
cols = list(Ex1)
cols.insert(0, cols.pop(cols.index('YIELD')))
Ex1=Ex1.loc[:,cols]
print('This cell moved the target variable first')

This cell moved the target variable first

In [6]:
Ex1.describe()

,YIELD,Season,PLOT,TRTMT,SOILTYPE,pH,P,K,Ca,Mg,Na,S,Cu,Zn,Sum_of_Bases,CEC,OM,YEAR
count,30.000000,30.0,30.000000,30.000000,30.0,30.000000,30.000000,30.000000,30.00000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.0
mean,56.386667,2.0,205.500000,5.500000,1.0,8.066667,20.133333,139.383333,6321.66000,535.040000,442.666667,65.200000,1.463333,1.360000,38.306667,12.183333,1.603333,2017.0
std,6.380560,0.0,83.096848,2.921384,0.0,0.265659,4.767442,29.082713,1090.58481,175.237853,320.152501,41.876279,0.321079,0.337945,7.754417,0.339455,0.165015,0.0
min,40.600000,2.0,101.000000,1.000000,1.0,7.700000,11.000000,95.400000,4623.40000,277.700000,28.400000,19.100000,1.000000,0.900000,26.000000,11.600000,1.300000,2017.0
25%,52.975000,2.0,108.250000,3.000000,1.0,7.825000,16.150000,120.300000,5328.30000,390.200000,166.275000,34.125000,1.125000,1.100000,31.350000,11.925000,1.500000,2017.0
50%,55.600000,2.0,205.500000,5.500000,1.0,8.000000,20.800000,128.550000,6163.00000,508.300000,425.800000,57.400000,1.500000,1.350000,37.200000,12.200000,1.600000,2017.0
75%,61.575000,2.0,302.750000,8.000000,1.0,8.200000,23.675000,148.600000,7215.80000,627.950000,564.675000,74.525000,1.775000,1.600000,43.725000,12.400000,1.700000,2017.0
max,65.000000,2.0,310.000000,10.000000,1.0,8.700000,28.300000,210.300000,8099.10000,858.100000,1158.400000,182.300000,1.900000,2.200000,52.100000,12.800000,1.900000,2017.0

In [7]:
Ex1.head(5)

,YIELD,Year,Season,PLOT,TRTMT,CCRATE,SOILTYPE,pH,P,K,...,Cu,Zn,Sum_of_Bases,CEC,OM,CCNitrogen,CCCarbon,YEAR,SEMESTER,RATE
120,61.6,F2017,2,101,7,RADL,1,7.9,23.8,150.2,...,1.8,1.7,30.5,12.8,1.9,NaN,NaN,2017,F,L
121,63.5,F2017,2,102,6,RYEH,1,7.8,27.7,126.6,...,1.9,1.8,30.2,12.2,1.6,NaN,NaN,2017,F,H
122,59.7,F2017,2,103,10,FALL,1,8.1,25.0,128.9,...,1.6,1.7,33.1,12.2,1.6,NaN,NaN,2017,F,L
123,56.4,F2017,2,104,8,RADM,1,7.8,23.4,118.6,...,1.7,1.7,36.0,11.9,1.5,NaN,NaN,2017,F,M
124,54.8,F2017,2,105,3,CCH,1,7.9,22.6,183.5,...,1.5,1.4,35.7,12.4,1.7,NaN,NaN,2017,F,H

In [8]:
Ex1feat = pd.get_dummies(Ex1)

In [10]:
Ex1feat

,YIELD,Season,PLOT,TRTMT,SOILTYPE,pH,P,K,Ca,Mg,...,CCRATE_RADH,CCRATE_RADL,CCRATE_RADM,CCRATE_RYEH,CCRATE_RYEL,CCRATE_RYEM,SEMESTER_F,RATE_H,RATE_L,RATE_M
120,61.6,2,101,7,1,7.9,23.8,150.2,5127.9,424.4,...,0,1,0,0,0,0,1,0,1,0
121,63.5,2,102,6,1,7.8,27.7,126.6,5324.5,351.8,...,0,0,0,1,0,0,1,1,0,0
122,59.7,2,103,10,1,8.1,25.0,128.9,5339.7,508.6,...,0,0,0,0,0,0,1,0,1,0
123,56.4,2,104,8,1,7.8,23.4,118.6,5573.9,508.0,...,0,0,1,0,0,0,1,0,0,1
124,54.8,2,105,3,1,7.9,22.6,183.5,5845.9,540.0,...,0,0,0,0,0,0,1,1,0,0
125,54.2,2,106,4,1,7.8,18.7,132.9,6704.3,598.4,...,0,0,0,0,1,0,1,0,1,0
126,60.2,2,107,2,1,8.4,16.8,119.8,7556.5,847.0,...,0,0,0,0,0,0,1,0,0,1
127,54.5,2,108,9,1,8.7,19.0,135.7,7892.3,845.1,...,1,0,0,0,0,0,1,1,0,0
128,63.8,2,109,5,1,8.5,19.7,122.5,8099.1,826.0,...,0,0,0,0,0,1,1,0,0,1
129,65.0,2,110,1,1,8.4,20.9,113.1,7473.0,762.7,...,0,0,0,0,0,0,1,0,1,0
130,50.0,2,201,10,1,7.9,24.9,169.4,5109.3,365.4,...,0,0,0,0,0,0,1,0,1,0
131,52.7,2,202,8,1,8.0,26.7,175.8,4658.7,299.7,...,0,0,1,0,0,0,1,0,0,1
132,54.3,2,203,4,1,8.1,23.6,142.6,5288.9,432.6,...,0,0,0,0,1,0,1,0,1,0
133,52.1,2,204,3,1,7.7,28.3,128.2,5563.4,442.0,...,0,0,0,0,0,0,1,1,0,0
134,41.0,2,205,1,1,7.8,20.7,210.3,5586.6,354.6,...,0,0,0,0,0,0,1,0,1,0
135,40.6,2,206,6,1,8.0,20.1,124.9,6968.2,526.1,...,0,0,0,1,0,0,1,1,0,0
136,54.8,2,207,7,1,8.2,16.6,140.8,7211.9,753.1,...,0,1,0,0,0,0,1,0,1,0
137,54.2,2,208,5,1,8.2,13.2,114.1,7217.1,554.0,...,0,0,0,0,0,1,1,0,0,1
138,46.8,2,209,2,1,8.2,15.2,118.3,8014.0,858.1,...,0,0,0,0,0,0,1,0,0,1
139,53.8,2,210,9,1,8.4,11.0,104.5,7148.1,714.3,...,1,0,0,0,0,0,1,1,0,0
140,63.5,2,301,4,1,7.8,22.6,185.0,5078.3,340.3,...,0,0,0,0,1,0,1,0,1,0
141,61.5,2,302,1,1,8.0,23.7,199.7,4623.4,277.7,...,0,0,0,0,0,0,1,0,1,0
142,59.7,2,303,5,1,8.1,23.8,143.8,5202.0,378.8,...,0,0,0,0,0,1,1,0,0,1
143,58.2,2,304,3,1,7.7,21.2,123.2,5805.6,480.4,...,0,0,0,0,0,0,1,1,0,0
144,52.6,2,305,6,1,7.8,23.2,177.8,5917.9,338.1,...,0,0,0,1,0,0,1,1,0,0
145,52.5,2,306,9,1,8.1,16.0,119.0,6408.1,508.0,...,1,0,0,0,0,0,1,1,0,0
146,63.6,2,307,8,1,8.3,15.2,124.0,6799.2,569.4,...,0,0,1,0,0,0,1,0,0,1
147,62.2,2,308,10,1,7.9,13.6,131.1,7192.6,550.6,...,0,0,0,0,0,0,1,0,1,0
148,61.1,2,309,7,1,8.5,12.4,95.4,7573.5,637.8,...,0,1,0,0,0,0,1,0,1,0
149,62.7,2,310,2,1,8.0,14.4,121.8,7345.9,458.2,...,0,0,0,0,0,0,1,0,0,1

In [11]:
X=Ex1feat.iloc[:,1:len(Ex1.columns)].values
y=Ex1feat.iloc[:,0].values.flatten()

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [13]:
sc = StandardScaler()  
X_train = sc.fit_transform(X_train)  
X_test = sc.transform(X_test)

In [20]:
regressor = RandomForestRegressor(n_estimators=300, random_state=0)  
regressor.fit(X_train, y_train)  
y_pred_rf = regressor.predict(X_test)

In [21]:
print('Mean Absolute Error for Random Forests:', metrics.mean_absolute_error(y_test, y_pred_rf))  
print('Mean Squared Error for Random Forests:', metrics.mean_squared_error(y_test, y_pred_rf))  
print('Root Mean Squared Error for Random Forests:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_rf)))

Mean Absolute Error for Random Forests: 5.240555555555567
Mean Squared Error for Random Forests: 36.2920309259261
Root Mean Squared Error for Random Forests: 6.024286756614935

In [17]:
# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [18]:
y_pred_lr=regr.predict(X_test)

In [19]:
print('Mean Absolute Error for Linear Regression:', metrics.mean_absolute_error(y_test, y_pred_lr))  
print('Mean Squared Error for Linear Regression:', metrics.mean_squared_error(y_test, y_pred_lr))  
print('Root Mean Squared Error for Linear Regression:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_lr)))

Mean Absolute Error for Linear Regression: 12.827774191423316
Mean Squared Error for Linear Regression: 219.77053013809578
Root Mean Squared Error for Linear Regression: 14.824659528572512